* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  list-style: none;
}

body {
  background-color: black;
  color: white;
  font-family: "Ropa Sans", sans-serif;
}

header {
  padding: 50px 0;
  display: flex;
  background-color: transparent;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5% 0 5%;
  height: 70px;
}
header h1 {
  font-family: "Marck Script", cursive;
}
header .burger {
  display: none;
}
header ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 60%;
  text-transform: capitalize;
}
header ul li {
  list-style: none;
  font-size: 1rem;
  min-width: 80x;
  width: 100%;
}
header ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul li a:hover {
  color: #d79b02;
}
header ul li a span {
  font-size: 1rem;
  margin: 0 10px;
  transition: all 1s;
}
header ul li a span:hover, header ul li a span:active {
  color: #d79b02;
}

.firstcontent {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 30%;
}
.firstcontent img {
  min-height: 300px;
  min-height: 300px;
  width: 100%;
  height: 100%;
}
.firstcontent .content-child {
  position: absolute;
  background-color: rgba(37, 37, 37, 0.4901960784);
  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(3vw, 12px);
}

.secondcontent {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: auto;
  margin-top: 50px;
  width: 90%;
  max-width: 600px;
  font-family: "Ropa Sans", sans-serif;
  margin-bottom: 60px;
}
.secondcontent h2 {
  text-align: center;
  font-family: "Marck Script", cursive;
  line-height: 20px;
}

.slider {
  margin-bottom: 70px;
  overflow: hidden;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider::after {
  content: "";
  /*position: fixed;*/
  left: 0%;
  bottom: 0%;
  background: linear-gradient(to right, rgba(2, 2, 2, 0.877) 0%, rgba(255, 255, 255, 0) 100%);
  width: 20%;
  height: 100%;
  position: absolute;
}
.slider::before {
  content: "";
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, rgb(8, 8, 8) 0%, rgba(56, 56, 56, 0) 100%);
  position: absolute;
  width: 20%;
  z-index: 2;
  height: 100%;
}
.slider .slide-track {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 1900px;
}
.slider .slide-track .slide {
  margin: 0px 5px 0px 0px;
}
.slider .slide-track .slide img {
  min-width: 500px;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.contact-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.contact-container .contact {
  transition: all 1s;
  margin-bottom: 40px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 70px;
}
.contact-container .contact h1 {
  font-family: "Marck Script", cursive;
  font-size: 45px;
}
.contact-container .contact p {
  font-family: "Ropa Sans", sans-serif;
}
.contact-container form {
  min-width: 350px;
  width: 45%;
  margin: auto;
}
.contact-container form .input-block {
  width: 100%;
}
.contact-container form .input-block input, .contact-container form .input-block textarea {
  width: 100%;
  margin-bottom: 30px;
  background-color: transparent;
  background-color: transparent;
  border: transparent;
  border-bottom: white solid 2px;
  color: white;
  height: 30px;
  outline: none;
  transition: 0.5s;
}
.contact-container form .input-block input:focus, .contact-container form .input-block textarea:focus {
  border-bottom-color: #d79b02;
}
.contact-container form .input-block label {
  color: white;
  font-size: 20px;
  font-family: "Ropa Sans", sans-serif;
}
.contact-container form .input-container {
  display: flex;
  justify-content: space-between;
}
.contact-container form .input-container .input-block {
  width: 45%;
}
.contact-container form button {
  width: 70%;
  padding: 4px;
  font-family: "Marck Script", cursive;
  font-size: 1.4rem;
  color: black;
}
.contact-container form button:hover, .contact-container form button:active {
  background-color: #d79b02;
}

iframe {
  width: 100%;
  margin-bottom: 40px;
}

footer {
  text-align: center;
}
footer .sub-form {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
footer .sub-form label {
  font-family: "Marck Script", cursive;
  font-size: 32px;
}
footer .sub-form input {
  font-size: 15px;
  border: none;
  outline: none;
  background-color: rgb(41, 41, 41);
  height: 100%;
  padding: 0 10px;
  color: white;
  letter-spacing: 2px;
}
footer .sub-form input:focus {
  border-color: #d79b02;
}
footer .sub-form button {
  border: none;
  outline: none;
  height: 100%;
  padding: 0 20px;
  text-transform: uppercase;
  color: black;
}
footer .sub-form .ej-container {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .info2 {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  line-height: 40px;
}
footer .info2 a {
  min-width: 120px;
}
footer .copyRight {
  display: flex;
  flex-direction: column;
  margin: 25px;
}/*# sourceMappingURL=new.css.map */