@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
@import '../error';
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border:none;
}
body{
    color:white;
}
.fromSection{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
    &::after{
        content:" ";
        background: url("https://cdn.pixabay.com/photo/2018/11/27/14/14/nuts-3841539__480.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(8px);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index:-1;
    }
    h1{
        margin-bottom: 30px;
        text-align: center;
        color:white;
        position: relative;
        padding-bottom: 10px;
        font-family: 'Marck Script', cursive;
        font-size: 3rem;
        &::after{
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0%;
            bottom:0;
            background-color: #d79b02;
        }
    }
    form{
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: 350px;
        background-color: black;
        border-radius: 12px;
        margin: auto;
        position: relative;
        .inputBlock{
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;  
            align-items: center;
            label{
                text-transform: capitalize;
                width: max-content;
                width: 40%;
                color:white;
            }          
            input{
                width: 55%;
                background-color: rgba(26, 26, 26, 0.531);
                padding: 10px;
                border-radius: 12px;
                transition: all 500ms;
                outline: none;
                color:#d79b02;
                padding-left:15px ;
                &:focus{
                    background-color: transparent;
                    border-bottom:1px solid #d79b02;
                    border-radius: 0;
                   
                }
                &::placeholder{
                    color:rgba(113, 87, 0, 0.719)
                }
            }
            .eyeIcon{
                color: rgba(113, 87, 0, 0.719);
                position: absolute;
                right: 7%;
                font-size: 1.3rem;
                transition: all .5s;
                cursor: pointer;
                &:hover,&:active{
                    color:#d79b02
                }
            }

        }
        button{
            width: 100%;
            background-color: white;
            color: black;
            padding: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin:30px 0 ;
            transition: all .5s;
            cursor: pointer;
            &:hover,&:active{
                background-color: #d79b02;
                color:white;
                letter-spacing: 6px;
            }
        }
        // .formFooter{
        //     display: flex;
        //     justify-content: space-around;
        //     text-decoration: underline; 
        //     color:#d79b02;
        //     padding: 10px;
        //     .link{
        //         text-transform: uppercase;
        //         width: max-content;
        //         transition: all .5s;
        //         &:hover,&:active{
        //             box-shadow:0 0 5px white ;
        //         }
        //     }
        // }
        
    }
}