.inputIsEmpty{
    border-color:red !important;
    box-shadow: 0 0 5px red !important;
}
.errorMessage{
    text-align: center;
    color:red;
    background-color: rgb(95 0 0 / 41%);
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 12px;
}